<%= simple_form_for(@idea, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :description, label: 'Title' %>
  <%= f.input :region, label: 'Community', collection: [ "Alabama",
              "Alaska",
              "Arizona",
              "Arkansas",
              "California",
              "Colorado",
              "Connecticut",
              "Delaware",
              "District of Columbia",
              "Florida",
              "Georgia",
              "Guam",
              "Hawaii",
              "Idaho",
              "Illinois",
              "Indiana",
              "Iowa",
              "Kansas",
              "Kentucky",
              "Louisiana",
              "Maine",
              "Maryland",
              "Massachusetts",
              "Michigan",
              "Minnesota",
              "Mississippi",
              "Missouri",
              "Montana",
              "Nebraska",
              "Nevada",
              "New Hampshire",
              "New Jersey",
              "New Mexico",
              "New York",
              "North Carolina",
              "North Dakota",
              "Ohio",
              "Oklahoma",
              "Oregon",
              "Pennsylvania",
              "Rhode Island",
              "South Carolina",
              "South Dakota",
              "Tennessee",
              "Texas",
              "Utah",
              "Vermont",
              "Virginia",
              "Washington",
              "West Virginia",
              "Wisconsin",
              "Wyoming" ] %>
  <%= f.input :typeofidea, collection: [ "Event", "Group", "Guide", "Organization", "Program" ], label: 'Type of Idea' %>
  <%= f.input :author, label: 'Author' %>
  <%= f.input :contact, label: 'Authors Email Address' %>
  <%= f.input :problem, as: :check_boxes, label: 'Problem It Addresses', collection: [ "Density", "Capital" ] %>
  <%= f.input :summary, input_html: { rows: "12" }, label: 'Summary' %>
  <%= f.input :url, label: 'URL' %>


  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>