<%= render 'layouts/header' %>
<div class="container">
<div class="row well span10">
<%= link_to '<-- Back To Ideas', ideas_path %><br />
<legend></legend>
    <div class="span9">
        <legend><%= title %></legend>
    </div>


<table class="table table-bordered span8">

<tbody>
    <tr>
        <td>Idea</td>
        <td><%= title %></td>
    </tr>
    <tr>
        <td>Author</td>
        <td><%= author %></td>
    </tr>
    <tr>
        <td>Description</td>
        <td><%= description %></td>
    </tr>
    <tr>
        <td>Contact</td>
        <td><%= contact %></td>
    </tr>
    <tr>
        <td>Problem it Addresses</td>
        <td><%= problem %></td>
    </tr>
    <tr>
        <td>View the Playbook</td>
        <td><a href="<%= playbook %>" class="btn btn-danger" target="_blank">View Playbook</a></td>
    </tr>
    <tr>
        <td>Contact Author</td>
        <td><a href="mailto:" class="btn btn-danger">Contact</a></td>
    </tr>

</tbody>
</table>
</div>

</div>